		<!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->		
            <div id="footer-bottom">        
            <!-- /// FOOTER BOTTOM  ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="row">
                	<div class="span6" id="footer-bottom-widget-area-1">
                    
						<div class="widget widget_text">
                        
                            <div class="textwidget">
                                <p class="last">
                                	<img src="_layout/images/logo.png" alt="" class="responsive-img">
                                    <span class="hidden-tablet hidden-phone">Copyright &copy; 2014 iDuk</span>
                                </p>
                            </div><!-- end .textwidget -->
                            
                        </div><!-- end .widget_text -->
                    
                    </div><!-- end .span6 -->
                    <div class="span6 text-right" id="footer-bottom-widget-area-2">
                    
						<div class="widget ewf_widget_social_media">
                        	
                            <div class="fixed">
                            	
                                <a href="#" class="facebook-icon social-icon">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="twitter-icon social-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="googleplus-icon social-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="pinterest-icon social-icon">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                                <a href="#" class="youtube-icon social-icon">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                
                            </div>
                            
                        </div><!-- end .widget_social_media -->
                    
                    </div><!-- end .span6 -->
                </div><!-- end .row -->
                
            <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            	
            </div><!-- end #footer-bottom -->
            
		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->