<div id="header-top">
        
        <!-- /// HEADER TOP  //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        
            <div class="row">
                <div class="span6" id="header-top-widget-area-1">
                    
                    <div class="widget widget_text">
                    
                        <div class="textwidget">
                        </div><!-- end .text -->
                    
                    </div><!-- end .widget_text -->
                    
                </div><!-- end .span6 -->
                <div class="span6 text-right" id="header-top-widget-area-2">
                    
                    <div class="widget ewf_widget_social_media">
                        	
                        <div class="fixed">
                            
                            <a href="#" class="facebook-icon social-icon">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="twitter-icon social-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="googleplus-icon social-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="pinterest-icon social-icon">
                                <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="#" class="youtube-icon social-icon">
                                <i class="fa fa-youtube"></i>
                            </a>
                            
                        </div>
                        
                    </div><!-- end .widget_social_media -->
                    
                </div><!-- end .span6 -->
            </div><!-- end .row -->
            
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
        </div><!-- end #header-top -->
		<div id="header" >
        
		<!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
            <div class="row">
				<div class="span3">
				
					<!-- // Logo // -->
					<a href="index.html" id="logo">
                    	<img src="_layout/images/logo.png" alt="" class="responsive-img">
                    </a>
				
				</div><!-- end .span3 -->
				<div class="span9">
				
                	<!-- // Mobile menu trigger // -->
                	<a href="#" id="mobile-menu-trigger">
                    	<i class="fa fa-bars"></i>
                    </a>					
					<!-- // Menu // -->
					<ul class="sf-menu" id="menu" ng-controller="menuCtrl">
						<li ng-repeat="item in items" ng-class="{'current': item.id == type}">
						<a ng-href="{{item.link}}">{{item.title}}</a>
						</li>
					</ul>
				</div><!-- end .span9 -->
			</div><!-- end .row -->		

		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

		</div><!-- end #header -->